<div id="<%= dom_id entry %>">
  <p>
   <span class="has-text-weight-bold"><%= entry.calories %></span> calories
  </p>

  <p>
   <span class="has-text-weight-bold"><%= entry.proteins %></span> grams of protein
  </p>

  <p>
    <span class="has-text-weight-bold"><%= entry.carbohydrates %></span> grams of carbohydrates
  </p>

  <p>
   <span class="has-text-weight-bold"><%= entry.fats %></span> grams of fat
  </p>

</div>
