<div id="<%= dom_id entry %>">
  <div class="panel-block">
   <span class="has-text-weight-bold">Calories: <%= entry.calories %></span>
  </div>

  <div class="panel-block">
   <span class="has-text-weight-bold">Protein: <%= entry.proteins %></span>
  </div>

  <div class="panel-block">
    <span class="has-text-weight-bold">Carbohydrates: <%= entry.carbohydrates %></span>
  </div>

  <div class="panel-block">
   <span class="has-text-weight-bold">Fat: <%= entry.fats %></span>
  </div>

</div>
